# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Környezeti változók
.env

# Virtuális környezet
venv/
ENV/

# IDE fájlok
.idea/
.vscode/
*.swp
*.swo

# Streamlit
.streamlit/secrets.toml

# Adatfájlok
data/embeddings/*.index
data/embeddings/*.json

# Egyéb
.DS_Store
